@tailwind base;
@tailwind components;
@tailwind utilities;

.selected{
                    background-color: #FF9900;
}

.lexend-giga{
                    font-family: "Lexend Giga", serif;
}

.Playwrite{
                    font-family: "Playwrite IN", serif;
}